@import "variables";

.FlexGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.FlexGridItem {
    list-style-type: none;
    width: 100%;

    @media (min-width: #{$screen-md-min}) {
        width: 30%;
    }
}